[ecs]
credentials=${credentials}
profile=${profile}
region=${region}
s3_bucket_name=${s3_bucket_name}
ecs_cluster_name=${ecs_cluster_name}
ecs_task_execution_role_name=${ecs_task_execution_role_name}
ecs_task_role_name=${ecs_task_role_name}
ecs_task_subnet_id=${ecs_task_subnet_id}
ecs_task_security_group_id=${ecs_task_security_group_id}
ecs_task_log_group_name=${ecs_task_log_group_name}
vcpu=${vcpu}
memory=${memory}
cache_dir=${cache_dir}
poll_freq=${poll_freq}
